dialog {
  width: 400px;
  margin: 10rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 100;
}
form.form {
  display: table;
}

div.form {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
